<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Entrada</th>
        <th scope="col">Salida</th>
        <th scope="col">10% valiosas</th>
        <th scope="col">Observaciones</th>
      </tr>
    </thead>
    <tbody>
      {% for item in historialPromociones %}
        <tr>
          <td>{{item.fechaInicio|date('d-m-Y')}}</td>
          <td>{{item.fechaFin|date('d-m-Y')}}</td>
          <td>{% if item.valiosas %}<span class="fa fa-check"></span>{% else %}<span class="fa fa-times"></span>{% endif %}</td>
          <td>{{item.observacion}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
