{% block evaluacionTecnicoPrototype %}
  <td>
    <div class="col-sm-5">
      {{ form_widget(form.viable) }}
      {{ form_errors(form.viable) }}
    </div>
  </td>
  <td>
    <div class="col-sm-5">
      {{ form_widget(form.fecha) }}
      {{ form_errors(form.fecha) }}
    </div>
  </td>
  <td>
    <a class="btn btn-danger btn-sm pull-right remove-evaluacion-tecnico remove_nested_fields" data-association="evaluacion_tecnicos">
      <span class="fa fa-remove text-white" aria-hidden="true"></span>
    </a>
  </td>
{% endblock %}
