<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Viable</th>
        <th scope="col">Fecha</th>
        {% if expediente.plurianual == true and ('evaluacionTecnico' in roles) %} <th scope="col"></th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for item in evaluacionTecnicos %}
      <tr>
        <td>{% if item.viable %}<span class="fa fa-check"></span>{% else %}<span class="fa fa-times"></span>{% endif %}</td>
        <td>{% if item.fecha %}{{item.fecha|date('Y-m')}}{% endif %}</td>
        {% if expediente.plurianual == true and ('evaluacionTecnico' in roles) %}
        <td>
          <a href="#" data-toggle="modal" data-modal="editItem" data-type="evaluaciontecnicos" data-modal-name='evaluacionTecnicosModal' data-id="{{expediente.id}}" data-item='{{item.id}}'>
            <span class="fa fa-edit" aria-hidden="true"></span>
          </a>
          <a href="" class="removeItem" data-type="evaluaciontecnicos" data-item='{{item.id}}' data-message='¿Está seguro que desea eliminar la Evaluación?'>
            <span class="fa fa-remove" aria-hidden="true"></span>
          </a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
