<div class="table-responsive">
  <table id="evaluacion-tecnicos" class="table table-striped">
    <thead>
      <tr>
        <th>Viable</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="evaluacionTecnicos" data-index="{{ evaluacionTecnicos|length }}" data-prototype="{% filter escape %}{% include 'evaluacion_tecnicos/prototype.html.twig' with {'form': evaluacionTecnicos.vars.prototype } %}{% endfilter %}">
      {% if evaluacionTecnicos %}
        {% for tag in evaluacionTecnicos %}
        <tr class="fields">
          <td>
          	<div class="col-sm-12">
          		{{ form_widget(tag.viable) }}
              {{ form_errors(tag.viable) }}
          	</div>
          </td>
          <td>
          	<a class="btn btn-danger btn-sm pull-right remove-evaluacion-tecnico remove_nested_fields" data-association="evaluacion_tecnicos">
              <span class="fa fa-remove text-white" aria-hidden="true"></span>
          	</a>
          </td>
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
  <a id="add-evaluacion-tecnico" class="btn btn-primary btn-sm add_nested_fields" data-target="#evaluacion-tecnico" href="javascript:void(0)">
    <span class="fa fa-plus" aria-hidden="true"></span>
    Agregar
  </a>
</div>

{% block javascripts %}
  <script src="{{ asset('js/evaluacion_tecnicos.js') }}"></script>
{% endblock %}
