{% set arr = {} %}
{% if actividadesCertificadas %}
	{% for key, tag in actividadesCertificadas %}
		{% set arr = arr | merge({
			(tag.tipoActividad.vars.data.id ~ 'key'): tag.tipoActividad.vars.data.id
		}) %}
	{% endfor %}
{% endif %}

<div class="prototype" data-index="{{ actividadesCertificadas|length }}" data-prototype="{% filter escape %}{% embed 'actividadescertificadas/prototype.html.twig' with {'form': actividadesCertificadas.vars.prototype } %}{% endembed %}{% endfilter %}">	
</div>

{% for id in arr %}
	{# Plantacion macizo#}
	{% if id == 1 %}
		{% embed "actividadescertificadas/plantacion_macizo/table.html.twig" with {
			'actividadesCertificadas' : actividadesCertificadas
		} %}{% endembed %}
	{% endif %}

	{# Plantacion Cortina #}
	{% if id == 6 %}
		{% embed "actividadescertificadas/plantacion_cortina/table.html.twig" with {
			'actividadesCertificadas' : actividadesCertificadas
		} %}{% endembed %}
	{% endif %}

	{# PODA #}
	{% if id == 2 %}
		{% embed "actividadescertificadas/poda/table.html.twig" with {
			'actividadesCertificadas' : actividadesCertificadas
		} %}{% endembed %}
	{% endif %}

	{# RALEO #}
	{% if id == 3 %}
		{% embed "actividadescertificadas/raleo/table.html.twig" with {
			'actividadesCertificadas' : actividadesCertificadas
		} %}{% endembed %}
	{% endif %}

	{# Manejo Rebrote #}
	{% if id == 4 %}
		{% embed "actividadescertificadas/manejo_rebrote/table.html.twig" with {
			'actividadesCertificadas' : actividadesCertificadas
		} %}{% endembed %}
	{% endif %}

	{# Enriquecimiento del BN #}
	{% if id == 5 %}
		{% embed "actividadescertificadas/enriquecimiento_bn/table.html.twig" with {
			'actividadesCertificadas' : actividadesCertificadas
		} %}{% endembed %}
	{% endif %}

{% endfor %}
<div class="btn-group" role="group">
	<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Agregar Actividad Certificada
	</button>
	<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
		<a data-type="macizo" class="add-actividad-certificada dropdown-item" href="javascript:void(0)">
			<span class="fa fa-plus" aria-hidden="true"></span>
			Plantación Macizo</a>
		<a data-type="cortina" class="add-actividad-certificada dropdown-item" href="javascript:void(0)">
			<span class="fa fa-plus" aria-hidden="true"></span>
			Plantación Cortina</a>
		<a  data-type="poda" class="add-actividad-certificada dropdown-item" href="javascript:void(0)">
			<span class="fa fa-plus" aria-hidden="true"></span>
			Poda</a>
		<a data-type="raleo" class="add-actividad-certificada dropdown-item" href="javascript:void(0)">
			<span class="fa fa-plus" aria-hidden="true"></span>
			Raleo</a>
		<a data-type="manejoRebrote" class="add-actividad-certificada dropdown-item" href="javascript:void(0)">
			<span class="fa fa-plus" aria-hidden="true"></span>
			Manejo de Rebrotes</a>
		<a data-type="enriquecimientoBN" class="add-actividad-certificada dropdown-item" href="javascript:void(0)">
			<span class="fa fa-plus" aria-hidden="true"></span>
			Enriquecimiento de Bosque Nativo</a>
	</div>
</div>

{% block javascripts %}
	<script src="{{ asset('js/actividades_certificadas.js') }}"></script>
{% endblock %}
