<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Viable</th>
      </tr>
    </thead>
    <tbody>
      {% for item in otbns %}
        <tr>
          <td>{{item.viable}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
