{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome" class="text-center">
                <h1>forestAR <span class="fa fa-tree"></span></h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}
