<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Fecha Realización</th>
        {% if expediente.agrupador %}
          <th scope="col">Titular Agrupado</th>
        {% endif %}
        <th scope="col">Observaciones</th>
      </tr>
    </thead>
    <tbody>
      {% for item in historialContables %}
        <tr>
          <td>{{item.fechaInicio|date('m-Y')}}</td>
          {% if expediente.agrupador %}
          <td>{% if item.titularAgrupado %}<a href="{{path('titulares_show', { 'id': item.titularAgrupado.id })}}">{{item.titularAgrupado}}</a>{% endif %}</th>
            {% endif %}
          <td>{{item.observacion}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
