#map{
  min-height: 500px;
}
.panel-body {
    overflow: scroll;
}
.table-grid tr[data-link] {
    cursor: pointer;
}
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    line-height: 34px;
    line-height: 1.428571429 \0;
}

td.icon-lg span {
  font-size: 200%;
}

.panel-primary {
    border-color: #428bca!important;
}

.btn-primary {
    color: #fff;
    background-color: #20558e;
    border-color: #20558e;
}
a {
  color: #0a4f9a;
}
.page-item.active .page-link {
  background-color: #20558e;
  border-color: #20558e;
}
.panel {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

* {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}

.well-sm {
    border-radius: 3px;
    padding: 9px;
}
.well {
    background-color: whitesmoke;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}

ul, ol {
    margin-bottom: 10px;
    margin-top: 0;
}
.navbar-primary a{
  color: white!important;
  font-weight: bold;
}

.inner {
  width: 50%;
  margin: 0 auto;
}

.errores {
  color: red!important;
}

.row {
  margin-right: 0px!important;
  margin-top: 15px!important;
}

.card-primary {
    border-color: #428bca!important;
}

.card {
    /*background-color: white;*/
    /*border: 1px solid transparent;
    border-radius: 4px;*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);*/
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 0px;
}

.form-check {
  padding-left: 0px!important;
}

.modal-lg {
    max-width: 60% !important;
}

td .col-sm-12{
  padding-right: 0px!important;
  padding-left: 0px!important;
}

#accordion .card{
  margin-left: 0px!important;
}

.navbar {
  padding-right: 0px;
}

/*.navbar-nav {
    float: left;
    margin: 0;
}*/
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #a94442;
}
.has-error .form-control {
    border-color: #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.has-error .form-control:focus {
    border-color: #843534;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
}
.has-error .input-group-addon {
    background-color: #f2dede;
    border-color: #a94442;
    color: #a94442;
}
.has-error .form-control-feedback {
    color: #a94442;
}

.wait {
    display:    none;
    position:   fixed;
    z-index:    2000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('/assets/images/loading.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .wait {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .wait {
    display: block;
}

.modal{
    overflow-y: auto;
}
