.navbar{
  margin-bottom: 20px;
  min-height: 50px;
  position: relative;
}
.navbar-brand {
  color: white !important;
  font-size: 30px;
  font-weight: normal;
  padding-top: 10px;
}
.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container {
    margin-left: 15px;
    padding-left: 0px;
}

.navbar-danger {
    background-color: #d9534f;
}
.navbar-danger a{
  color: #FFFFFF!important;
}
/*.navbar-right {
    float: right !important;
    margin-right: -15px!important;
}*/
