{% block emailsPrototype %}
	<td>
		<div class="col-sm-12">
			{{ form_widget(form.mail) }}
			{{ form_errors(form.mail) }}
		</div>
	</td>
	<td>
		<a class="btn btn-danger btn-sm pull-right remove-email remove_nested_fields" data-association="emails">
			<span class="fa fa-remove text-white" aria-hidden="true"></span>
		</a>
	</td>
{% endblock %}
