{% extends 'print.html.twig' %}

{% block body %}
<section>
  <h2>Informe Legal</h2>
  <div class="block">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>Expediente: </strong>{% if informeLegal is defined %}{{informeLegal.numeroExpediente}}{% else %}<span id="numeroExpediente"></span>{% endif %}</p>
        <p><strong>Número Interno: </strong>{% if informeLegal is defined %}{{informeLegal.numeroInterno}}{% else %}<span id="numeroInterno"></span>{% endif %}</p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-12 text-justify">
        {% if informeLegal is defined %}
          {% if informeLegal.parrafo1 %}
            <p>
              {{informeLegal.parrafo1|raw}}
            </p>
          {% endif %}
        {% else %}
        <p><span id="parrafo1"></span></p>
        {% endif %}

      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>INFORME LEGAL N° </strong></p>
        <p><strong>BUENOS AIRES, {% if informeLegal is defined %}{{informeLegal.fechaCreacion|date('d-m-Y')}}{% else %}<span id="fechaCreacion"></span>{% endif %} </strong></p>
      </div>
    </div>
  </div>

</section>
{% endblock %}
